/* Main CSS file */
* {
  box-sizing: border-box;
}

.body {
  font-family: Helvetica, sans-serif;
}

.chatLog {
  border: 1px solid grey;
  list-style: none;
  padding: 40px 20px;
  border-radius: 100%;
  width: 500px;
  height: 500px;
  text-align: center;
  overflow: scroll;
}

.chatLog__itemUserName {
  font-size: 16px;
  margin-bottom: 0;
}

.chatLog__itemMessage {
  margin-top: 0;
}

.chatMessage {
  border: 2px solid grey;
  border-radius: 4px;
  height: 50px;
  width: 500px;
}

.chatMessage__message {
  border: none;
  /*
  * minus (border width of parent * 2)
  * height: 50 - (2 * 2)
  */
  height: 46px;
  /*
    width of parent minus one border minus button width?
    ((500 - 4) - 50)
  */
  outline: none;
  padding-left: 20px;
  width: 446px;
}

.chatMessage__send {
  background-color: lightblue;
  border: none;
  cursor: pointer;
  float: right;
  height: 46px;
  outline: none;
  /*
  * minus (border width of parent * 2)
  * height: 50 - (2 * 2)
  */
  width: 50px;
}
